# Expo autogenerado
.expo/
dist/
web-build/

# Dependencias
node_modules/

# Variables de entorno — NUNCA subir al repositorio
.env
.env.local
.env.production

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Editor
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
